In [95]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics

In [38]:
query = (
    '''
    SELECT
  *,
  YEAR(contract_date)-TOP AS lasting_year
FROM (
  SELECT
    UPPER(property_name) AS upper_name,
    TOP,
    district,
    units,
    property_type,
    LOWER(tenure) AS lower_tenure,
    FROM
    [drq-machine-learning:enbloc.property_list] )AS property_list
LEFT JOIN (
  SELECT
    contract_date,
    project_name,
    1 AS is_enbloc
  FROM
    [drq-machine-learning:enbloc.enbloc]) AS enbloc_list
ON
  property_list.upper_name = enbloc_list.project_name
  
WHERE 
property_list.property_type!='Office'
    '''
)
df = pd.read_gbq(
    query,
    project_id='drq-machine-learning',
    private_key='/Users/zhouwanjie/Documents/Projects/enbloc/drq-machine-learning-0a5d30a93870.json',
    dialect='legacy'
)

Requesting query... ok.
Job ID: 3051d0ff-2e3f-483c-a042-ffc98305f5a1
Query running...
Query done.
Cache hit.

Retrieving results...
Got 2137 rows.

Total time taken 3.5 s.
Finished at 2018-04-15 11:12:37.

In [39]:
df.head()

,property_list_upper_name,property_list_TOP,property_list_district,property_list_units,property_list_property_type,property_list_lower_tenure,enbloc_list_contract_date,enbloc_list_project_name,enbloc_list_is_enbloc,lasting_year
0,STARLIGHT ROAD,None,D8 - Little India,None,Apartment,9999 years from 01/01/1957,None,None,None,None
1,CAMBRIDGE ROAD,None,D8 - Little India,None,Apartment,999999 years,None,None,None,None
2,JALAN SENANG,None,"D14 - Geylang, Eunos",None,Apartment,999 years from 01/01/1967,None,None,None,None
3,GEK LIM MANSIONS,None,"D14 - Geylang, Eunos",None,Apartment,n.a,None,None,None,None
4,LORONG 24 GEYLANG,None,"D14 - Geylang, Eunos",None,Apartment,9999 years from 01/01/1962,None,None,None,None

In [40]:
df['property_list_lower_tenure'].unique()

array([u'9999 years from 01/01/1957', u'999999 years',
       u'999 years from 01/01/1967', u'n.a',
       u'9999 years from 01/01/1962', u'110 years from 01/11/2017',
       u'999 years', u'99 years from 01/03/1977',
       u'99 years from 25/03/1968', u'99 years from 04/08/1969',
       u'99 years from 02/06/1970', u'99 years from 18/01/1972',
       u'99 years from 03/09/1968', u'99 years from 01/01/1969',
       u'99 years from 30/08/1976', u'99 years from 01/11/1975',
       u'999 years from 07/06/1884', u'99 years from 18/09/1979',
       u'99 years from 16/06/1980', u'99 years from 15/12/1980',
       u'999 years from 25/01/1827', None, u'9999 years from 02/06/1995',
       u'999 years from 29/05/1885', u'99 years from 08/09/1992',
       u'99 years from 01/01/1995', u'999 years from 02/06/1882',
       u'99 years from 17/11/1993', u'99 years from 02/10/1992',
       u'leasehold/99 years', u'929 years from 01/01/1953',
       u'99 years from 13/02/1995', u'99 years from 06/11/1995',
       u'99 years from 06/09/1996', u'99 years from 10/06/1996',
       u'99 years from 01/12/1994', u'99 years from 01/05/1994',
       u'999 years from 12/10/1885', u'99 years from 01/03/1995',
       u'99 years from 03/02/1994', u'947 years from 15/05/1937',
       u'99 years from 24/06/1995', u'99 years from 24/04/1996',
       u'99 years from 01/10/1995', u'999 years from 01/09/1876',
       u'99 years from 26/06/1996', u'99 years from 22/05/1997',
       u'999 years from 01/07/1841', u'99 years from 19/03/1997',
       u'999 years from 02/12/1878', u'99 years from 11/08/1997',
       u'99 years from 06/12/1997', u'99 years from 30/04/2000',
       u'99 years from 06/02/2001', u'99 years from 06/10/2000',
       u'999 years from 01/01/1886', u'999 years from 21/06/1877',
       u'999 years from 26/03/1885', u'99 years from 02/06/1969',
       u'99 years from 12/08/2002', u'999 years from 02/10/1876',
       u'99 years from 07/01/2002', u'946 years from 23/06/1938',
       u'99 years from 08/05/2001', u'99 years from 29/01/2002',
       u'946 years from 27/11/1937', u'99 years from 05/03/2004',
       u'99 years from 03/01/2006', u'999 years from 24/11/1995',
       u'99 years from 21/06/2006', u'999 years from 01/06/1885',
       u'99 years from 15/09/2005', u'99 years from 11/07/2006',
       u'99 years from 08/03/2006', u'946 years from 01/01/1938',
       u'99 years from 21/03/2006', u'99 years from 27/01/2006',
       u'99 years from 13/03/2006', u'99 years from 15/10/2007',
       u'99 years from 02/02/2005', u'99 years from 28/04/2004',
       u'99 years from 14/10/2005', u'99 years from 10/08/2010',
       u'99 years from 06/05/2008', u'999 years from 19/02/1883',
       u'99 years from 07/12/2009', u'99 years from 06/01/2010',
       u'99 years from 12/04/2007', u'99 years from 06/02/2008',
       u'99 years from 13/09/2010', u'99 years from 13/03/2008',
       u'999 years from 27/12/1875', u'99 years from 24/05/2010',
       u'99 years from 27/06/2007', u'99 years from 30/04/2013',
       u'99 years from 21/11/2011', u'99 years from 29/06/2011',
       u'99 years from 07/06/2011', u'99 years from 07/11/2012',
       u'956 years from 27/05/1928', u'99 years from 24/01/2013',
       u'99 years from 01/08/2011', u'60 years from 19/02/2013',
       u'freehold', u'99 years from 01/12/1975',
       u'99 years from 25/03/1981', u'999 years from 06/07/1885',
       u'99 years from 01/10/1983', u'999 years from 25/09/1882',
       u'999 years from 23/03/1885', u'99 years from 17/08/1979',
       u'101 years from 01/12/1985', u'99 years from 21/10/1981',
       u'99 years from 01/11/1984', u'99 years from 01/08/1980',
       u'99 years from 20/08/1982', u'99 years from 08/03/1982',
       u'99 years from 08/01/1979', u'99 years from 10/04/1982',
       u'99 years from 06/06/1980', u'99 years from 08/07/1983',
       u'99 years from 10/11/1981', u'99 years from 07/04/1975',
       u'99 years from 05/04/1982', u'999 years from 01/04/1878',
       u'999 years from 05/05/1886', u'100 years from 01/02/1986',
       u'999 years from 07/09/1885', u'99 years from 01/09/1991',
       u'99 years from 01/03/1991', u'999 years from 10/08/1878',
       u'99 years from 15/09/1990', u'99 years from 01/12/1991',
       u'99 years from 23/07/1991', u'99 years from 01/06/1990',
       u'99 years from 01/05/1993', u'99 years from 01/07/1992',
       u'99 years from 18/11/1991', u'99 years from 01/09/1992',
       u'99 years from 31/05/1993', u'99 years from 20/10/1993',
       u'99 years from 01/12/1993', u'99 years from 21/04/1994',
       u'99 years from 09/03/1994', u'99 years from 30/05/1994',
       u'99 years from 01/08/1994', u'99 years',
       u'99 years from 20/06/1995', u'99 years from 23/06/1995',
       u'999 years from 19/05/1883', u'999 years from 15/08/1884',
       u'99 years from 01/11/1995', u'99 years from 17/05/1997',
       u'99 years from 31/01/1997', u'99 years from 14/11/1996',
       u'99 years from 07/11/1995', u'99 years from 12/06/1996',
       u'999 years from 01/10/1827', u'99 years from 03/03/1997',
       u'99 years from 17/03/1997', u'99 years from 22/09/1997',
       u'99 years from 16/12/1997', u'99 years from 04/12/1996',
       u'99 years from 12/08/1997', u'99 years from 09/10/1996',
       u'99 years from 12/08/1996', u'99 years from 18/12/1997',
       u'99 years from 01/12/1997', u'99 years from 07/06/1996',
       u'99 years from 11/03/1999', u'99 years from 18/07/1997',
       u'99 years from 25/02/1998', u'99 years from 16/02/1998',
       u'99 years from 02/02/1998', u'99 years from 14/12/1996',
       u'99 years from 21/03/1996', u'99 years from 02/03/1998',
       u'99 years from 20/03/1998', u'99 years from 24/04/1999',
       u'99 years from 12/09/2000', u'99 years from 13/12/2000',
       u'99 years from 05/05/1997', u'99 years from 10/02/2000',
       u'99 years from 09/10/2000', u'99 years from 14/08/2000',
       u'99 years from 08/04/1993', u'99 years from 02/05/2001',
       u'99 years from 22/03/1997', u'99 years from 29/11/2000',
       u'99 years from 20/06/2000', u'99 years from 16/08/1999',
       u'99 years from 17/08/2001', u'99 years from 02/01/2001',
       u'99 years from 02/10/2001', u'99 years from 21/06/2001',
       u'99 years from 04/06/2001', u'99 years from 25/07/2001',
       u'99 years from 24/10/1997', u'99 years from 05/06/2001',
       u'99 years from 29/10/2001', u'99 years from 02/04/1998',
       u'99 years from 16/07/2002', u'99 years from 23/07/2002',
       u'99 years from 21/01/2002', u'999 years from 21/02/1885',
       u'99 years from 03/12/2002', u'999 years from 17/09/1885',
       u'99 years from 20/06/2003', u'99 years from 19/03/2001',
       u'99 years from 18/03/2004', u'99 years from 20/01/2004',
       u'99 years from 22/01/2003', u'99 years from 09/09/1999',
       u'99 years from 22/11/2002', u'99 years from 05/01/2004',
       u'99 years from 02/07/2004', u'99 years from 08/11/2001',
       u'103 years from 28/11/2002', u'99 years from 13/09/2004',
       u'99 years from 03/05/2004', u'99 years from 03/01/2005',
       u'99 years from 26/02/2004', u'99 years from 01/03/2003',
       u'99 years from 17/02/2006', u'99 years from 18/04/2005',
       u'99 years from 11/09/2007', u'99 years from 07/02/2006',
       u'99 years from 12/03/2007', u'99 years from 10/08/2005',
       u'99 years from 25/02/2008', u'99 years from 10/09/2007',
       u'99 years from 07/01/2008', u'99 years from 17/03/2008',
       u'99 years from 31/10/2007', u'99 years from 15/03/2006',
       u'99 years from 31/10/2006', u'99 years from 09/06/2007',
       u'99 years from 03/01/2007', u'99 years from 31/12/2007',
       u'99 years from 23/10/2006', u'99 years from 15/07/2008',
       u'99 years from 08/04/2008', u'99 years from 07/04/2008',
       u'99 years from 22/09/2008', u'99 years from 09/12/2008',
       u'99 years from 25/08/2008', u'99 years from 10/03/2008',
       u'99-year leasehold', u'99 years from 25/06/2008',
       u'99 years from 08/09/2010', u'99 years from 26/03/2008',
       u'99 years from 08/03/2007', u'99 years from 11/02/2009',
       u'99 years from 02/06/2010', u'99 years from 14/09/2010',
       u'99 years from 27/07/2007', u'99 years from 23/11/2009',
       u'999 years from 19/06/1885', u'99 years from 03/08/2010',
       u'99 years from 21/12/2009', u'99 years from 07/09/2011',
       u'99 years from 20/09/2010', u'99 years from 30/11/2010',
       u'99 years from 14/06/2010', u'99 years from 11/12/2007',
       u'99 years from 03/01/2011', u'99 years from 24/01/2011',
       u'99 years from 16/06/2010', u'99 years from 10/01/2012',
       u'99 years from 11/08/2010', u'99 years from 26/11/2009',
       u'99 years from 20/12/2010', u'99 years from 27/12/2010',
       u'99 years from 04/11/2011', u'99 years from 23/08/2010',
       u'99 years from 24/08/2010', u'99 years from 02/03/2011',
       u'99 years from 10/01/2011', u'103 years from 18/08/2009',
       u'99 years from 20/07/2007', u'99 years from 08/04/2010',
       u'99 years leasehold', u'99 years from 10/05/2010',
       u'99 years from 06/12/2010', u'99 years from 25/01/2012',
       u'99 years from 28/07/2010', u'99 years from 07/02/2011',
       u'99 years from 29/08/2011', u'99 years from 30/01/2012',
       u'99 years from 08/02/2010', u'99 years from 20/10/2010',
       u'99 years from 10/08/2011', u'99 years from 09/01/2012',
       u'99 years from 01/06/2011', u'99 years from 06/02/2012',
       u'99 years from 04/06/2012', u'99 years from 05/10/2011',
       u'99 years from 26/08/2011', u'99 years from 15/06/2011',
       u'99 years from 09/02/2011', u'99 years from 24/04/2012',
       u'99 years from 09/03/2011', u'99 years from 28/06/2011',
       u'99 years from 28/08/2012', u'99 years from 13/02/2013',
       u'99 years from 03/07/2012', u'99 years from 25/05/2012',
       u'99 years from 21/08/2012', u'99 years from 13/08/2012',
       u'99 years from 06/03/2012', u'99 years from 05/11/2012',
       u'99 years from 19/03/2012', u'99 years from 02/07/2012',
       u'99 years from 05/12/2011', u'99 years from 03/10/2011',
       u'103 years from 01/10/2010', u'99 years from 14/05/2012', u'f',
       u'l99', u'l999', u'mixed'], dtype=object)

In [41]:
df['property_list_lower_tenure'] = df['property_list_lower_tenure'].apply(lambda x: str(x))

In [42]:
df = df[df['property_list_lower_tenure'].notnull()]

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2137 entries, 0 to 2136
Data columns (total 10 columns):
property_list_upper_name       2137 non-null object
property_list_TOP              2041 non-null object
property_list_district         2137 non-null object
property_list_units            1928 non-null object
property_list_property_type    2137 non-null object
property_list_lower_tenure     2137 non-null object
enbloc_list_contract_date      319 non-null object
enbloc_list_project_name       319 non-null object
enbloc_list_is_enbloc          319 non-null object
lasting_year                   281 non-null object
dtypes: object(10)
memory usage: 183.6+ KB

In [44]:
df=df[df['property_list_lower_tenure']!='n.a']

In [45]:
df.head()

,property_list_upper_name,property_list_TOP,property_list_district,property_list_units,property_list_property_type,property_list_lower_tenure,enbloc_list_contract_date,enbloc_list_project_name,enbloc_list_is_enbloc,lasting_year
0,STARLIGHT ROAD,None,D8 - Little India,None,Apartment,9999 years from 01/01/1957,None,None,None,None
1,CAMBRIDGE ROAD,None,D8 - Little India,None,Apartment,999999 years,None,None,None,None
2,JALAN SENANG,None,"D14 - Geylang, Eunos",None,Apartment,999 years from 01/01/1967,None,None,None,None
4,LORONG 24 GEYLANG,None,"D14 - Geylang, Eunos",None,Apartment,9999 years from 01/01/1962,None,None,None,None
8,PARKSUITES,1900,"D10 - Bukit Timah, Holland Rd, Tanglin",None,Apartment,110 years from 01/11/2017,None,None,None,None

In [46]:
df['use_year'] = df['property_list_lower_tenure'].apply(lambda x: x.split(' ')[0])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2128 entries, 0 to 2136
Data columns (total 11 columns):
property_list_upper_name       2128 non-null object
property_list_TOP              2037 non-null object
property_list_district         2128 non-null object
property_list_units            1928 non-null object
property_list_property_type    2128 non-null object
property_list_lower_tenure     2128 non-null object
enbloc_list_contract_date      319 non-null object
enbloc_list_project_name       319 non-null object
enbloc_list_is_enbloc          319 non-null object
lasting_year                   281 non-null object
use_year                       2128 non-null object
dtypes: object(11)
memory usage: 199.5+ KB

In [47]:
df['use_year'].unique()

array(['9999', '999999', '999', '110', '99', 'None', 'leasehold/99',
       '929', '947', '946', '956', '60', 'freehold', '101', '100', '103',
       '99-year', 'f', 'l99', 'l999', 'mixed'], dtype=object)

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2128 entries, 0 to 2136
Data columns (total 11 columns):
property_list_upper_name       2128 non-null object
property_list_TOP              2037 non-null object
property_list_district         2128 non-null object
property_list_units            1928 non-null object
property_list_property_type    2128 non-null object
property_list_lower_tenure     2128 non-null object
enbloc_list_contract_date      319 non-null object
enbloc_list_project_name       319 non-null object
enbloc_list_is_enbloc          319 non-null object
lasting_year                   281 non-null object
use_year                       2128 non-null object
dtypes: object(11)
memory usage: 199.5+ KB

In [49]:
df['property_list_TOP']=df['property_list_TOP'].fillna(df['property_list_TOP'].median())

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2128 entries, 0 to 2136
Data columns (total 11 columns):
property_list_upper_name       2128 non-null object
property_list_TOP              2128 non-null float64
property_list_district         2128 non-null object
property_list_units            1928 non-null object
property_list_property_type    2128 non-null object
property_list_lower_tenure     2128 non-null object
enbloc_list_contract_date      319 non-null object
enbloc_list_project_name       319 non-null object
enbloc_list_is_enbloc          319 non-null object
lasting_year                   281 non-null object
use_year                       2128 non-null object
dtypes: float64(1), object(10)
memory usage: 199.5+ KB

In [56]:
df['lasting_year'][df['enbloc_list_is_enbloc'].notnull()]=df['lasting_year'][df['enbloc_list_is_enbloc'].notnull()].fillna(df['lasting_year'].median())

/Users/zhouwanjie/virtualenvironment/enbloc/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2128 entries, 0 to 2136
Data columns (total 11 columns):
property_list_upper_name       2128 non-null object
property_list_TOP              2128 non-null float64
property_list_district         2128 non-null object
property_list_units            1928 non-null object
property_list_property_type    2128 non-null object
property_list_lower_tenure     2128 non-null object
enbloc_list_contract_date      319 non-null object
enbloc_list_project_name       319 non-null object
enbloc_list_is_enbloc          319 non-null object
lasting_year                   319 non-null object
use_year                       2128 non-null object
dtypes: float64(1), object(10)
memory usage: 279.5+ KB

In [58]:
df

,property_list_upper_name,property_list_TOP,property_list_district,property_list_units,property_list_property_type,property_list_lower_tenure,enbloc_list_contract_date,enbloc_list_project_name,enbloc_list_is_enbloc,lasting_year,use_year
0,STARLIGHT ROAD,2004.0,D8 - Little India,None,Apartment,9999 years from 01/01/1957,None,None,None,None,9999
1,CAMBRIDGE ROAD,2004.0,D8 - Little India,None,Apartment,999999 years,None,None,None,None,999999
2,JALAN SENANG,2004.0,"D14 - Geylang, Eunos",None,Apartment,999 years from 01/01/1967,None,None,None,None,999
4,LORONG 24 GEYLANG,2004.0,"D14 - Geylang, Eunos",None,Apartment,9999 years from 01/01/1962,None,None,None,None,9999
8,PARKSUITES,1900.0,"D10 - Bukit Timah, Holland Rd, Tanglin",None,Apartment,110 years from 01/11/2017,None,None,None,None,110
9,TEACHERS' HOUSING ESTATE,1968.0,"D26 - Upper Thomson, Springleaf",None,Apartment,999 years,None,None,None,None,999
10,LAKESIDE APARTMENTS,1970.0,D22 - Jurong,None,Apartment,99 years from 01/03/1977,None,None,None,None,99
11,PEOPLE'S PARK COMPLEX,1972.0,"D1 - Temasek Blvd, Raffles Link",None,Apartment,99 years from 25/03/1968,None,None,None,None,99
12,GOLDEN MILE COMPLEX,1974.0,"D7 - Middle Road, Golden Mile",None,Apartment,99 years from 04/08/1969,None,None,None,None,99
13,INTERNATIONAL PLAZA,1976.0,"D2 - Anson, Tanjong Pagar",None,Apartment,99 years from 02/06/1970,None,None,None,None,99
14,FOOK HAI BUILDING,1976.0,"D1 - Temasek Blvd, Raffles Link",None,Apartment,99 years from 18/01/1972,None,None,None,None,99
15,PEOPLE'S PARK CENTRE,1976.0,"D1 - Temasek Blvd, Raffles Link",None,Apartment,99 years from 02/06/1970,None,None,None,None,99
16,TEXTILE CENTRE,1977.0,"D7 - Middle Road, Golden Mile",None,Apartment,99 years from 02/06/1970,None,None,None,None,99
17,PEACE CENTRE/MANSIONS,1977.0,"D9 - Orchard, Cairnhill, River Valley",42,Apartment,99 years from 02/06/1970,None,None,None,None,99
18,THE PLAZA,1979.0,"D7 - Middle Road, Golden Mile",None,Apartment,99 years from 03/09/1968,None,None,None,None,99
19,PHOENIX HEIGHTS,1980.0,"D23 - Bukit Panjang, Choa Chu Kang",None,Apartment,99 years from 01/01/1969,None,None,None,None,99
20,SHERWOOD TOWERS,1980.0,"D21 - Upper Bukit Timah, Ulu Pandan",269,Apartment,99 years from 30/08/1976,None,None,None,None,99
21,LAKESIDE TOWER,1981.0,D22 - Jurong,None,Apartment,99 years from 01/11/1975,None,None,None,None,99
22,BEAUTY WORLD PLAZA,1982.0,"D21 - Upper Bukit Timah, Ulu Pandan",None,Apartment,999 years from 07/06/1884,None,None,None,None,999
23,BEAUTY WORLD CENTRE,1984.0,"D21 - Upper Bukit Timah, Ulu Pandan",80,Apartment,99 years from 18/09/1979,None,None,None,None,99
24,LANDMARK TOWER,1985.0,"D3 - Queenstown, Tiong Bahru",139,Apartment,99 years from 16/06/1980,None,None,None,None,99
25,RIVERWALK APARTMENTS,1985.0,"D1 - Temasek Blvd, Raffles Link",94,Apartment,99 years from 15/12/1980,None,None,None,None,99
26,THE 101,1986.0,"D4 - Telok Blangah, Harbourfront",None,Apartment,999 years from 25/01/1827,None,None,None,None,999
27,NOVENA GARDENS,1986.0,"D11 - Watten Estate, Novena, Thomson",None,Apartment,None,None,None,None,None,None
28,ROXY SQUARE,1991.0,"D15 - Katong, Joo Chiat, Amber Road",111,Apartment,9999 years from 02/06/1995,None,None,None,None,9999
29,JANSEN ROAD,1992.0,"D19 - Serangoon, Hougang, Punggol",None,Apartment,999 years,None,None,None,None,999
30,LE LOYANG,1994.0,"D17 - Loyang, Changi",24,Apartment,999 years from 29/05/1885,None,None,None,None,999
31,ST FRANCIS COURT,1994.0,"D12 - Balestier, Toa Payoh, Serangoon",71,Apartment,99 years from 08/09/1992,None,None,None,None,99
32,EAST BAY GARDENS,1995.0,"D15 - Katong, Joo Chiat, Amber Road",None,Apartment,99 years from 01/01/1995,None,None,None,None,99
33,MAR THOMA MANSIONS,1995.0,"D12 - Balestier, Toa Payoh, Serangoon",18,Apartment,999 years from 02/06/1882,2012-07-13,MAR THOMA MANSIONS,1,17,999
...,...,...,...,...,...,...,...,...,...,...,...
2107,TWENTYONE ANGULLIA PARK,2014.0,"D9 - Orchard, Cairnhill, River Valley",54,Condominium,freehold,None,None,None,None,freehold
2108,LE NOUVEL ARDMORE,2014.0,"D10 - Bukit Timah, Holland Rd, Tanglin",43,Condominium,freehold,None,None,None,None,freehold
2109,NATHAN SUITES,2014.0,"D10 - Bukit Timah, Holland Rd, Tanglin",65,Condominium,freehold,None,None,None,None,freehold
2110,TOMLINSON HEIGHTS,2014.0,"D10 - Bukit Timah, Holland Rd, Tanglin",70,Condominium,freehold,None,None,None,None,freehold
2111,CYAN,2014.0,"D10 - Bukit Timah, Holland Rd, Tanglin",278,Condominium,freehold,None,None,None,None,freehold
2112,ARDMORE 3,2014.0,"D10 - Bukit Timah, Holland Rd, Tanglin",84,Condominium,freehold,None,None,None,None,freehold
2113,SKY GREEN,2015.0,"D13 - Macpherson, Braddell",176,Condominium,freehold,None,None,None,None,freehold
2114,THE SORRENTO,2015.0,"D5 - Pasir Panjang, Clementi",131,Condominium,freehold,None,None,None,None,freehold
2115,SKYLINE RESIDENCES,2015.0,"D4 - Telok Blangah, Harbourfront",283,Condominium,freehold,None,None,None,None,freehold
2116,BLISS@KOVAN,2015.0,"D19 - Serangoon, Hougang, Punggol",140,Condominium,freehold,None,None,None,None,freehold
2117,THE SEAWIND,2015.0,"D15 - Katong, Joo Chiat, Amber Road",109,Condominium,freehold,None,None,None,None,freehold
2118,HALLMARK RESIDENCES,2015.0,"D10 - Bukit Timah, Holland Rd, Tanglin",75,Condominium,freehold,None,None,None,None,freehold
2119,LEEDON RESIDENCE,2015.0,"D10 - Bukit Timah, Holland Rd, Tanglin",381,Condominium,freehold,None,None,None,None,freehold
2120,ROBIN RESIDENCES,2015.0,"D10 - Bukit Timah, Holland Rd, Tanglin",134,Condominium,freehold,None,None,None,None,freehold
2121,THE NASSIM,2015.0,"D10 - Bukit Timah, Holland Rd, Tanglin",None,Condominium,freehold,None,None,None,None,freehold
2122,TROPIKA EAST,2016.0,"D14 - Geylang, Eunos",105,Condominium,freehold,None,None,None,None,freehold
2123,VILLAGE @ PASIR PANJANG,2016.0,"D5 - Pasir Panjang, Clementi",148,Condominium,freehold,None,None,None,None,freehold
2124,THE TEMBUSU,2016.0,"D19 - Serangoon, Hougang, Punggol",337,Condominium,freehold,None,None,None,None,freehold
2125,MARINE BLUE,2016.0,"D15 - Katong, Joo Chiat, Amber Road",124,Condominium,freehold,None,None,None,None,freehold
2126,THE LINE @ TANJONG RHU,2016.0,"D15 - Katong, Joo Chiat, Amber Road",130,Condominium,freehold,None,None,None,None,freehold
2127,SEVENTY SAINT PATRICK'S,2016.0,"D15 - Katong, Joo Chiat, Amber Road",186,Condominium,freehold,None,None,None,None,freehold
2128,FULCRUM,2016.0,"D15 - Katong, Joo Chiat, Amber Road",128,Condominium,freehold,None,None,None,None,freehold
2129,26 NEWTON,2016.0,"D11 - Watten Estate, Novena, Thomson",180,Condominium,freehold,None,None,None,None,freehold
2130,CLUNY PARK RESIDENCE,2016.0,"D10 - Bukit Timah, Holland Rd, Tanglin",52,Condominium,freehold,None,None,None,None,freehold
2131,GRAMERCY PARK,2016.0,"D10 - Bukit Timah, Holland Rd, Tanglin",174,Condominium,freehold,None,None,None,None,freehold
2132,ONE BALMORAL,2016.0,"D10 - Bukit Timah, Holland Rd, Tanglin",None,Condominium,freehold,2007-03-22,ONE BALMORAL,1,-9,freehold
2133,THE CREEK @ BUKIT,2017.0,"D21 - Upper Bukit Timah, Ulu Pandan",260,Condominium,freehold,None,None,None,None,freehold
2134,6 DERBYSHIRE,2017.0,"D11 - Watten Estate, Novena, Thomson",168,Condominium,freehold,None,None,None,None,freehold
2135,NEW FUTURA,2017.0,"D9 - Orchard, Cairnhill, River Valley",124,Condominium,freehold,None,None,None,None,freehold
2136,TRILIVE,2018.0,"D19 - Serangoon, Hougang, Punggol",222,Condominium,freehold,None,None,None,None,freehold

In [59]:
df['lasting_year'][df['enbloc_list_is_enbloc'].isnull()]=2018-df['property_list_TOP']

/Users/zhouwanjie/virtualenvironment/enbloc/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [60]:
df

,property_list_upper_name,property_list_TOP,property_list_district,property_list_units,property_list_property_type,property_list_lower_tenure,enbloc_list_contract_date,enbloc_list_project_name,enbloc_list_is_enbloc,lasting_year,use_year
0,STARLIGHT ROAD,2004.0,D8 - Little India,None,Apartment,9999 years from 01/01/1957,None,None,None,14,9999
1,CAMBRIDGE ROAD,2004.0,D8 - Little India,None,Apartment,999999 years,None,None,None,14,999999
2,JALAN SENANG,2004.0,"D14 - Geylang, Eunos",None,Apartment,999 years from 01/01/1967,None,None,None,14,999
4,LORONG 24 GEYLANG,2004.0,"D14 - Geylang, Eunos",None,Apartment,9999 years from 01/01/1962,None,None,None,14,9999
8,PARKSUITES,1900.0,"D10 - Bukit Timah, Holland Rd, Tanglin",None,Apartment,110 years from 01/11/2017,None,None,None,118,110
9,TEACHERS' HOUSING ESTATE,1968.0,"D26 - Upper Thomson, Springleaf",None,Apartment,999 years,None,None,None,50,999
10,LAKESIDE APARTMENTS,1970.0,D22 - Jurong,None,Apartment,99 years from 01/03/1977,None,None,None,48,99
11,PEOPLE'S PARK COMPLEX,1972.0,"D1 - Temasek Blvd, Raffles Link",None,Apartment,99 years from 25/03/1968,None,None,None,46,99
12,GOLDEN MILE COMPLEX,1974.0,"D7 - Middle Road, Golden Mile",None,Apartment,99 years from 04/08/1969,None,None,None,44,99
13,INTERNATIONAL PLAZA,1976.0,"D2 - Anson, Tanjong Pagar",None,Apartment,99 years from 02/06/1970,None,None,None,42,99
14,FOOK HAI BUILDING,1976.0,"D1 - Temasek Blvd, Raffles Link",None,Apartment,99 years from 18/01/1972,None,None,None,42,99
15,PEOPLE'S PARK CENTRE,1976.0,"D1 - Temasek Blvd, Raffles Link",None,Apartment,99 years from 02/06/1970,None,None,None,42,99
16,TEXTILE CENTRE,1977.0,"D7 - Middle Road, Golden Mile",None,Apartment,99 years from 02/06/1970,None,None,None,41,99
17,PEACE CENTRE/MANSIONS,1977.0,"D9 - Orchard, Cairnhill, River Valley",42,Apartment,99 years from 02/06/1970,None,None,None,41,99
18,THE PLAZA,1979.0,"D7 - Middle Road, Golden Mile",None,Apartment,99 years from 03/09/1968,None,None,None,39,99
19,PHOENIX HEIGHTS,1980.0,"D23 - Bukit Panjang, Choa Chu Kang",None,Apartment,99 years from 01/01/1969,None,None,None,38,99
20,SHERWOOD TOWERS,1980.0,"D21 - Upper Bukit Timah, Ulu Pandan",269,Apartment,99 years from 30/08/1976,None,None,None,38,99
21,LAKESIDE TOWER,1981.0,D22 - Jurong,None,Apartment,99 years from 01/11/1975,None,None,None,37,99
22,BEAUTY WORLD PLAZA,1982.0,"D21 - Upper Bukit Timah, Ulu Pandan",None,Apartment,999 years from 07/06/1884,None,None,None,36,999
23,BEAUTY WORLD CENTRE,1984.0,"D21 - Upper Bukit Timah, Ulu Pandan",80,Apartment,99 years from 18/09/1979,None,None,None,34,99
24,LANDMARK TOWER,1985.0,"D3 - Queenstown, Tiong Bahru",139,Apartment,99 years from 16/06/1980,None,None,None,33,99
25,RIVERWALK APARTMENTS,1985.0,"D1 - Temasek Blvd, Raffles Link",94,Apartment,99 years from 15/12/1980,None,None,None,33,99
26,THE 101,1986.0,"D4 - Telok Blangah, Harbourfront",None,Apartment,999 years from 25/01/1827,None,None,None,32,999
27,NOVENA GARDENS,1986.0,"D11 - Watten Estate, Novena, Thomson",None,Apartment,None,None,None,None,32,None
28,ROXY SQUARE,1991.0,"D15 - Katong, Joo Chiat, Amber Road",111,Apartment,9999 years from 02/06/1995,None,None,None,27,9999
29,JANSEN ROAD,1992.0,"D19 - Serangoon, Hougang, Punggol",None,Apartment,999 years,None,None,None,26,999
30,LE LOYANG,1994.0,"D17 - Loyang, Changi",24,Apartment,999 years from 29/05/1885,None,None,None,24,999
31,ST FRANCIS COURT,1994.0,"D12 - Balestier, Toa Payoh, Serangoon",71,Apartment,99 years from 08/09/1992,None,None,None,24,99
32,EAST BAY GARDENS,1995.0,"D15 - Katong, Joo Chiat, Amber Road",None,Apartment,99 years from 01/01/1995,None,None,None,23,99
33,MAR THOMA MANSIONS,1995.0,"D12 - Balestier, Toa Payoh, Serangoon",18,Apartment,999 years from 02/06/1882,2012-07-13,MAR THOMA MANSIONS,1,17,999
...,...,...,...,...,...,...,...,...,...,...,...
2107,TWENTYONE ANGULLIA PARK,2014.0,"D9 - Orchard, Cairnhill, River Valley",54,Condominium,freehold,None,None,None,4,freehold
2108,LE NOUVEL ARDMORE,2014.0,"D10 - Bukit Timah, Holland Rd, Tanglin",43,Condominium,freehold,None,None,None,4,freehold
2109,NATHAN SUITES,2014.0,"D10 - Bukit Timah, Holland Rd, Tanglin",65,Condominium,freehold,None,None,None,4,freehold
2110,TOMLINSON HEIGHTS,2014.0,"D10 - Bukit Timah, Holland Rd, Tanglin",70,Condominium,freehold,None,None,None,4,freehold
2111,CYAN,2014.0,"D10 - Bukit Timah, Holland Rd, Tanglin",278,Condominium,freehold,None,None,None,4,freehold
2112,ARDMORE 3,2014.0,"D10 - Bukit Timah, Holland Rd, Tanglin",84,Condominium,freehold,None,None,None,4,freehold
2113,SKY GREEN,2015.0,"D13 - Macpherson, Braddell",176,Condominium,freehold,None,None,None,3,freehold
2114,THE SORRENTO,2015.0,"D5 - Pasir Panjang, Clementi",131,Condominium,freehold,None,None,None,3,freehold
2115,SKYLINE RESIDENCES,2015.0,"D4 - Telok Blangah, Harbourfront",283,Condominium,freehold,None,None,None,3,freehold
2116,BLISS@KOVAN,2015.0,"D19 - Serangoon, Hougang, Punggol",140,Condominium,freehold,None,None,None,3,freehold
2117,THE SEAWIND,2015.0,"D15 - Katong, Joo Chiat, Amber Road",109,Condominium,freehold,None,None,None,3,freehold
2118,HALLMARK RESIDENCES,2015.0,"D10 - Bukit Timah, Holland Rd, Tanglin",75,Condominium,freehold,None,None,None,3,freehold
2119,LEEDON RESIDENCE,2015.0,"D10 - Bukit Timah, Holland Rd, Tanglin",381,Condominium,freehold,None,None,None,3,freehold
2120,ROBIN RESIDENCES,2015.0,"D10 - Bukit Timah, Holland Rd, Tanglin",134,Condominium,freehold,None,None,None,3,freehold
2121,THE NASSIM,2015.0,"D10 - Bukit Timah, Holland Rd, Tanglin",None,Condominium,freehold,None,None,None,3,freehold
2122,TROPIKA EAST,2016.0,"D14 - Geylang, Eunos",105,Condominium,freehold,None,None,None,2,freehold
2123,VILLAGE @ PASIR PANJANG,2016.0,"D5 - Pasir Panjang, Clementi",148,Condominium,freehold,None,None,None,2,freehold
2124,THE TEMBUSU,2016.0,"D19 - Serangoon, Hougang, Punggol",337,Condominium,freehold,None,None,None,2,freehold
2125,MARINE BLUE,2016.0,"D15 - Katong, Joo Chiat, Amber Road",124,Condominium,freehold,None,None,None,2,freehold
2126,THE LINE @ TANJONG RHU,2016.0,"D15 - Katong, Joo Chiat, Amber Road",130,Condominium,freehold,None,None,None,2,freehold
2127,SEVENTY SAINT PATRICK'S,2016.0,"D15 - Katong, Joo Chiat, Amber Road",186,Condominium,freehold,None,None,None,2,freehold
2128,FULCRUM,2016.0,"D15 - Katong, Joo Chiat, Amber Road",128,Condominium,freehold,None,None,None,2,freehold
2129,26 NEWTON,2016.0,"D11 - Watten Estate, Novena, Thomson",180,Condominium,freehold,None,None,None,2,freehold
2130,CLUNY PARK RESIDENCE,2016.0,"D10 - Bukit Timah, Holland Rd, Tanglin",52,Condominium,freehold,None,None,None,2,freehold
2131,GRAMERCY PARK,2016.0,"D10 - Bukit Timah, Holland Rd, Tanglin",174,Condominium,freehold,None,None,None,2,freehold
2132,ONE BALMORAL,2016.0,"D10 - Bukit Timah, Holland Rd, Tanglin",None,Condominium,freehold,2007-03-22,ONE BALMORAL,1,-9,freehold
2133,THE CREEK @ BUKIT,2017.0,"D21 - Upper Bukit Timah, Ulu Pandan",260,Condominium,freehold,None,None,None,1,freehold
2134,6 DERBYSHIRE,2017.0,"D11 - Watten Estate, Novena, Thomson",168,Condominium,freehold,None,None,None,1,freehold
2135,NEW FUTURA,2017.0,"D9 - Orchard, Cairnhill, River Valley",124,Condominium,freehold,None,None,None,1,freehold
2136,TRILIVE,2018.0,"D19 - Serangoon, Hougang, Punggol",222,Condominium,freehold,None,None,None,0,freehold

In [62]:
df['property_list_district'] = df['property_list_district'].apply(lambda x: x.split(' - ')[0])

In [63]:
df

,property_list_upper_name,property_list_TOP,property_list_district,property_list_units,property_list_property_type,property_list_lower_tenure,enbloc_list_contract_date,enbloc_list_project_name,enbloc_list_is_enbloc,lasting_year,use_year
0,STARLIGHT ROAD,2004.0,D8,None,Apartment,9999 years from 01/01/1957,None,None,None,14,9999
1,CAMBRIDGE ROAD,2004.0,D8,None,Apartment,999999 years,None,None,None,14,999999
2,JALAN SENANG,2004.0,D14,None,Apartment,999 years from 01/01/1967,None,None,None,14,999
4,LORONG 24 GEYLANG,2004.0,D14,None,Apartment,9999 years from 01/01/1962,None,None,None,14,9999
8,PARKSUITES,1900.0,D10,None,Apartment,110 years from 01/11/2017,None,None,None,118,110
9,TEACHERS' HOUSING ESTATE,1968.0,D26,None,Apartment,999 years,None,None,None,50,999
10,LAKESIDE APARTMENTS,1970.0,D22,None,Apartment,99 years from 01/03/1977,None,None,None,48,99
11,PEOPLE'S PARK COMPLEX,1972.0,D1,None,Apartment,99 years from 25/03/1968,None,None,None,46,99
12,GOLDEN MILE COMPLEX,1974.0,D7,None,Apartment,99 years from 04/08/1969,None,None,None,44,99
13,INTERNATIONAL PLAZA,1976.0,D2,None,Apartment,99 years from 02/06/1970,None,None,None,42,99
14,FOOK HAI BUILDING,1976.0,D1,None,Apartment,99 years from 18/01/1972,None,None,None,42,99
15,PEOPLE'S PARK CENTRE,1976.0,D1,None,Apartment,99 years from 02/06/1970,None,None,None,42,99
16,TEXTILE CENTRE,1977.0,D7,None,Apartment,99 years from 02/06/1970,None,None,None,41,99
17,PEACE CENTRE/MANSIONS,1977.0,D9,42,Apartment,99 years from 02/06/1970,None,None,None,41,99
18,THE PLAZA,1979.0,D7,None,Apartment,99 years from 03/09/1968,None,None,None,39,99
19,PHOENIX HEIGHTS,1980.0,D23,None,Apartment,99 years from 01/01/1969,None,None,None,38,99
20,SHERWOOD TOWERS,1980.0,D21,269,Apartment,99 years from 30/08/1976,None,None,None,38,99
21,LAKESIDE TOWER,1981.0,D22,None,Apartment,99 years from 01/11/1975,None,None,None,37,99
22,BEAUTY WORLD PLAZA,1982.0,D21,None,Apartment,999 years from 07/06/1884,None,None,None,36,999
23,BEAUTY WORLD CENTRE,1984.0,D21,80,Apartment,99 years from 18/09/1979,None,None,None,34,99
24,LANDMARK TOWER,1985.0,D3,139,Apartment,99 years from 16/06/1980,None,None,None,33,99
25,RIVERWALK APARTMENTS,1985.0,D1,94,Apartment,99 years from 15/12/1980,None,None,None,33,99
26,THE 101,1986.0,D4,None,Apartment,999 years from 25/01/1827,None,None,None,32,999
27,NOVENA GARDENS,1986.0,D11,None,Apartment,None,None,None,None,32,None
28,ROXY SQUARE,1991.0,D15,111,Apartment,9999 years from 02/06/1995,None,None,None,27,9999
29,JANSEN ROAD,1992.0,D19,None,Apartment,999 years,None,None,None,26,999
30,LE LOYANG,1994.0,D17,24,Apartment,999 years from 29/05/1885,None,None,None,24,999
31,ST FRANCIS COURT,1994.0,D12,71,Apartment,99 years from 08/09/1992,None,None,None,24,99
32,EAST BAY GARDENS,1995.0,D15,None,Apartment,99 years from 01/01/1995,None,None,None,23,99
33,MAR THOMA MANSIONS,1995.0,D12,18,Apartment,999 years from 02/06/1882,2012-07-13,MAR THOMA MANSIONS,1,17,999
...,...,...,...,...,...,...,...,...,...,...,...
2107,TWENTYONE ANGULLIA PARK,2014.0,D9,54,Condominium,freehold,None,None,None,4,freehold
2108,LE NOUVEL ARDMORE,2014.0,D10,43,Condominium,freehold,None,None,None,4,freehold
2109,NATHAN SUITES,2014.0,D10,65,Condominium,freehold,None,None,None,4,freehold
2110,TOMLINSON HEIGHTS,2014.0,D10,70,Condominium,freehold,None,None,None,4,freehold
2111,CYAN,2014.0,D10,278,Condominium,freehold,None,None,None,4,freehold
2112,ARDMORE 3,2014.0,D10,84,Condominium,freehold,None,None,None,4,freehold
2113,SKY GREEN,2015.0,D13,176,Condominium,freehold,None,None,None,3,freehold
2114,THE SORRENTO,2015.0,D5,131,Condominium,freehold,None,None,None,3,freehold
2115,SKYLINE RESIDENCES,2015.0,D4,283,Condominium,freehold,None,None,None,3,freehold
2116,BLISS@KOVAN,2015.0,D19,140,Condominium,freehold,None,None,None,3,freehold
2117,THE SEAWIND,2015.0,D15,109,Condominium,freehold,None,None,None,3,freehold
2118,HALLMARK RESIDENCES,2015.0,D10,75,Condominium,freehold,None,None,None,3,freehold
2119,LEEDON RESIDENCE,2015.0,D10,381,Condominium,freehold,None,None,None,3,freehold
2120,ROBIN RESIDENCES,2015.0,D10,134,Condominium,freehold,None,None,None,3,freehold
2121,THE NASSIM,2015.0,D10,None,Condominium,freehold,None,None,None,3,freehold
2122,TROPIKA EAST,2016.0,D14,105,Condominium,freehold,None,None,None,2,freehold
2123,VILLAGE @ PASIR PANJANG,2016.0,D5,148,Condominium,freehold,None,None,None,2,freehold
2124,THE TEMBUSU,2016.0,D19,337,Condominium,freehold,None,None,None,2,freehold
2125,MARINE BLUE,2016.0,D15,124,Condominium,freehold,None,None,None,2,freehold
2126,THE LINE @ TANJONG RHU,2016.0,D15,130,Condominium,freehold,None,None,None,2,freehold
2127,SEVENTY SAINT PATRICK'S,2016.0,D15,186,Condominium,freehold,None,None,None,2,freehold
2128,FULCRUM,2016.0,D15,128,Condominium,freehold,None,None,None,2,freehold
2129,26 NEWTON,2016.0,D11,180,Condominium,freehold,None,None,None,2,freehold
2130,CLUNY PARK RESIDENCE,2016.0,D10,52,Condominium,freehold,None,None,None,2,freehold
2131,GRAMERCY PARK,2016.0,D10,174,Condominium,freehold,None,None,None,2,freehold
2132,ONE BALMORAL,2016.0,D10,None,Condominium,freehold,2007-03-22,ONE BALMORAL,1,-9,freehold
2133,THE CREEK @ BUKIT,2017.0,D21,260,Condominium,freehold,None,None,None,1,freehold
2134,6 DERBYSHIRE,2017.0,D11,168,Condominium,freehold,None,None,None,1,freehold
2135,NEW FUTURA,2017.0,D9,124,Condominium,freehold,None,None,None,1,freehold
2136,TRILIVE,2018.0,D19,222,Condominium,freehold,None,None,None,0,freehold

In [67]:
df['property_list_units']=df['property_list_units'].fillna(df['property_list_units'].median())
df['enbloc_list_is_enbloc']=df['enbloc_list_is_enbloc'].fillna(0)

In [68]:
df

,property_list_upper_name,property_list_TOP,property_list_district,property_list_units,property_list_property_type,property_list_lower_tenure,enbloc_list_contract_date,enbloc_list_project_name,enbloc_list_is_enbloc,lasting_year,use_year
0,STARLIGHT ROAD,2004.0,D8,70.0,Apartment,9999 years from 01/01/1957,None,None,0,14,9999
1,CAMBRIDGE ROAD,2004.0,D8,70.0,Apartment,999999 years,None,None,0,14,999999
2,JALAN SENANG,2004.0,D14,70.0,Apartment,999 years from 01/01/1967,None,None,0,14,999
4,LORONG 24 GEYLANG,2004.0,D14,70.0,Apartment,9999 years from 01/01/1962,None,None,0,14,9999
8,PARKSUITES,1900.0,D10,70.0,Apartment,110 years from 01/11/2017,None,None,0,118,110
9,TEACHERS' HOUSING ESTATE,1968.0,D26,70.0,Apartment,999 years,None,None,0,50,999
10,LAKESIDE APARTMENTS,1970.0,D22,70.0,Apartment,99 years from 01/03/1977,None,None,0,48,99
11,PEOPLE'S PARK COMPLEX,1972.0,D1,70.0,Apartment,99 years from 25/03/1968,None,None,0,46,99
12,GOLDEN MILE COMPLEX,1974.0,D7,70.0,Apartment,99 years from 04/08/1969,None,None,0,44,99
13,INTERNATIONAL PLAZA,1976.0,D2,70.0,Apartment,99 years from 02/06/1970,None,None,0,42,99
14,FOOK HAI BUILDING,1976.0,D1,70.0,Apartment,99 years from 18/01/1972,None,None,0,42,99
15,PEOPLE'S PARK CENTRE,1976.0,D1,70.0,Apartment,99 years from 02/06/1970,None,None,0,42,99
16,TEXTILE CENTRE,1977.0,D7,70.0,Apartment,99 years from 02/06/1970,None,None,0,41,99
17,PEACE CENTRE/MANSIONS,1977.0,D9,42.0,Apartment,99 years from 02/06/1970,None,None,0,41,99
18,THE PLAZA,1979.0,D7,70.0,Apartment,99 years from 03/09/1968,None,None,0,39,99
19,PHOENIX HEIGHTS,1980.0,D23,70.0,Apartment,99 years from 01/01/1969,None,None,0,38,99
20,SHERWOOD TOWERS,1980.0,D21,269.0,Apartment,99 years from 30/08/1976,None,None,0,38,99
21,LAKESIDE TOWER,1981.0,D22,70.0,Apartment,99 years from 01/11/1975,None,None,0,37,99
22,BEAUTY WORLD PLAZA,1982.0,D21,70.0,Apartment,999 years from 07/06/1884,None,None,0,36,999
23,BEAUTY WORLD CENTRE,1984.0,D21,80.0,Apartment,99 years from 18/09/1979,None,None,0,34,99
24,LANDMARK TOWER,1985.0,D3,139.0,Apartment,99 years from 16/06/1980,None,None,0,33,99
25,RIVERWALK APARTMENTS,1985.0,D1,94.0,Apartment,99 years from 15/12/1980,None,None,0,33,99
26,THE 101,1986.0,D4,70.0,Apartment,999 years from 25/01/1827,None,None,0,32,999
27,NOVENA GARDENS,1986.0,D11,70.0,Apartment,None,None,None,0,32,None
28,ROXY SQUARE,1991.0,D15,111.0,Apartment,9999 years from 02/06/1995,None,None,0,27,9999
29,JANSEN ROAD,1992.0,D19,70.0,Apartment,999 years,None,None,0,26,999
30,LE LOYANG,1994.0,D17,24.0,Apartment,999 years from 29/05/1885,None,None,0,24,999
31,ST FRANCIS COURT,1994.0,D12,71.0,Apartment,99 years from 08/09/1992,None,None,0,24,99
32,EAST BAY GARDENS,1995.0,D15,70.0,Apartment,99 years from 01/01/1995,None,None,0,23,99
33,MAR THOMA MANSIONS,1995.0,D12,18.0,Apartment,999 years from 02/06/1882,2012-07-13,MAR THOMA MANSIONS,1,17,999
...,...,...,...,...,...,...,...,...,...,...,...
2107,TWENTYONE ANGULLIA PARK,2014.0,D9,54.0,Condominium,freehold,None,None,0,4,freehold
2108,LE NOUVEL ARDMORE,2014.0,D10,43.0,Condominium,freehold,None,None,0,4,freehold
2109,NATHAN SUITES,2014.0,D10,65.0,Condominium,freehold,None,None,0,4,freehold
2110,TOMLINSON HEIGHTS,2014.0,D10,70.0,Condominium,freehold,None,None,0,4,freehold
2111,CYAN,2014.0,D10,278.0,Condominium,freehold,None,None,0,4,freehold
2112,ARDMORE 3,2014.0,D10,84.0,Condominium,freehold,None,None,0,4,freehold
2113,SKY GREEN,2015.0,D13,176.0,Condominium,freehold,None,None,0,3,freehold
2114,THE SORRENTO,2015.0,D5,131.0,Condominium,freehold,None,None,0,3,freehold
2115,SKYLINE RESIDENCES,2015.0,D4,283.0,Condominium,freehold,None,None,0,3,freehold
2116,BLISS@KOVAN,2015.0,D19,140.0,Condominium,freehold,None,None,0,3,freehold
2117,THE SEAWIND,2015.0,D15,109.0,Condominium,freehold,None,None,0,3,freehold
2118,HALLMARK RESIDENCES,2015.0,D10,75.0,Condominium,freehold,None,None,0,3,freehold
2119,LEEDON RESIDENCE,2015.0,D10,381.0,Condominium,freehold,None,None,0,3,freehold
2120,ROBIN RESIDENCES,2015.0,D10,134.0,Condominium,freehold,None,None,0,3,freehold
2121,THE NASSIM,2015.0,D10,70.0,Condominium,freehold,None,None,0,3,freehold
2122,TROPIKA EAST,2016.0,D14,105.0,Condominium,freehold,None,None,0,2,freehold
2123,VILLAGE @ PASIR PANJANG,2016.0,D5,148.0,Condominium,freehold,None,None,0,2,freehold
2124,THE TEMBUSU,2016.0,D19,337.0,Condominium,freehold,None,None,0,2,freehold
2125,MARINE BLUE,2016.0,D15,124.0,Condominium,freehold,None,None,0,2,freehold
2126,THE LINE @ TANJONG RHU,2016.0,D15,130.0,Condominium,freehold,None,None,0,2,freehold
2127,SEVENTY SAINT PATRICK'S,2016.0,D15,186.0,Condominium,freehold,None,None,0,2,freehold
2128,FULCRUM,2016.0,D15,128.0,Condominium,freehold,None,None,0,2,freehold
2129,26 NEWTON,2016.0,D11,180.0,Condominium,freehold,None,None,0,2,freehold
2130,CLUNY PARK RESIDENCE,2016.0,D10,52.0,Condominium,freehold,None,None,0,2,freehold
2131,GRAMERCY PARK,2016.0,D10,174.0,Condominium,freehold,None,None,0,2,freehold
2132,ONE BALMORAL,2016.0,D10,70.0,Condominium,freehold,2007-03-22,ONE BALMORAL,1,-9,freehold
2133,THE CREEK @ BUKIT,2017.0,D21,260.0,Condominium,freehold,None,None,0,1,freehold
2134,6 DERBYSHIRE,2017.0,D11,168.0,Condominium,freehold,None,None,0,1,freehold
2135,NEW FUTURA,2017.0,D9,124.0,Condominium,freehold,None,None,0,1,freehold
2136,TRILIVE,2018.0,D19,222.0,Condominium,freehold,None,None,0,0,freehold

In [69]:
data = df[['property_list_upper_name', 'property_list_district', 'property_list_units',
           'property_list_property_type', 'enbloc_list_is_enbloc', 'lasting_year', 'use_year']]

In [71]:
data = pd.get_dummies(data, columns=['property_list_district', 'property_list_property_type', 'use_year'])

In [72]:
data

,property_list_upper_name,property_list_units,enbloc_list_is_enbloc,lasting_year,property_list_district_D02,property_list_district_D03,property_list_district_D04,property_list_district_D05,property_list_district_D07,property_list_district_D08,...,use_year_999,use_year_9999,use_year_999999,use_year_None,use_year_f,use_year_freehold,use_year_l99,use_year_l999,use_year_leasehold/99,use_year_mixed
0,STARLIGHT ROAD,70.0,0,14,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
1,CAMBRIDGE ROAD,70.0,0,14,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2,JALAN SENANG,70.0,0,14,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,LORONG 24 GEYLANG,70.0,0,14,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
8,PARKSUITES,70.0,0,118,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,TEACHERS' HOUSING ESTATE,70.0,0,50,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
10,LAKESIDE APARTMENTS,70.0,0,48,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,PEOPLE'S PARK COMPLEX,70.0,0,46,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,GOLDEN MILE COMPLEX,70.0,0,44,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,INTERNATIONAL PLAZA,70.0,0,42,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,FOOK HAI BUILDING,70.0,0,42,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,PEOPLE'S PARK CENTRE,70.0,0,42,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,TEXTILE CENTRE,70.0,0,41,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,PEACE CENTRE/MANSIONS,42.0,0,41,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,THE PLAZA,70.0,0,39,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,PHOENIX HEIGHTS,70.0,0,38,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,SHERWOOD TOWERS,269.0,0,38,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,LAKESIDE TOWER,70.0,0,37,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,BEAUTY WORLD PLAZA,70.0,0,36,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
23,BEAUTY WORLD CENTRE,80.0,0,34,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,LANDMARK TOWER,139.0,0,33,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
25,RIVERWALK APARTMENTS,94.0,0,33,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,THE 101,70.0,0,32,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
27,NOVENA GARDENS,70.0,0,32,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
28,ROXY SQUARE,111.0,0,27,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
29,JANSEN ROAD,70.0,0,26,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
30,LE LOYANG,24.0,0,24,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
31,ST FRANCIS COURT,71.0,0,24,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
32,EAST BAY GARDENS,70.0,0,23,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33,MAR THOMA MANSIONS,18.0,1,17,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2107,TWENTYONE ANGULLIA PARK,54.0,0,4,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2108,LE NOUVEL ARDMORE,43.0,0,4,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2109,NATHAN SUITES,65.0,0,4,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2110,TOMLINSON HEIGHTS,70.0,0,4,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2111,CYAN,278.0,0,4,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2112,ARDMORE 3,84.0,0,4,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2113,SKY GREEN,176.0,0,3,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2114,THE SORRENTO,131.0,0,3,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2115,SKYLINE RESIDENCES,283.0,0,3,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2116,BLISS@KOVAN,140.0,0,3,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2117,THE SEAWIND,109.0,0,3,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2118,HALLMARK RESIDENCES,75.0,0,3,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2119,LEEDON RESIDENCE,381.0,0,3,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2120,ROBIN RESIDENCES,134.0,0,3,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2121,THE NASSIM,70.0,0,3,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2122,TROPIKA EAST,105.0,0,2,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2123,VILLAGE @ PASIR PANJANG,148.0,0,2,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2124,THE TEMBUSU,337.0,0,2,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2125,MARINE BLUE,124.0,0,2,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2126,THE LINE @ TANJONG RHU,130.0,0,2,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2127,SEVENTY SAINT PATRICK'S,186.0,0,2,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2128,FULCRUM,128.0,0,2,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2129,26 NEWTON,180.0,0,2,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2130,CLUNY PARK RESIDENCE,52.0,0,2,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2131,GRAMERCY PARK,174.0,0,2,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2132,ONE BALMORAL,70.0,1,-9,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2133,THE CREEK @ BUKIT,260.0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2134,6 DERBYSHIRE,168.0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2135,NEW FUTURA,124.0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2136,TRILIVE,222.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [81]:
x = data.drop(columns=['property_list_upper_name', 'enbloc_list_is_enbloc']).as_matrix()
y = data['enbloc_list_is_enbloc'].as_matrix()

In [84]:
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.2)

In [85]:
x_train.shape

(1702, 66)

In [86]:
x_test.shape

(426, 66)

In [90]:
x.shape

(2128, 66)

In [92]:
random_forest=RandomForestClassifier(random_state=10)
random_forest.fit(x_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=10, verbose=0, warm_start=False)

In [102]:
y_predict=random_forest.predict(x_test)

In [103]:
acc =metrics.accuracy_score(y_test,y_predict)

In [104]:
print(acc)

0.9882629107981221

In [105]:
pre =metrics.precision_score(y_test,y_predict)
print (pre)

1.0

In [106]:
metrics.recall_score(y_test,y_predict)

0.9180327868852459