In [1]:
import pandas as pd

In [2]:
query = (
    '''
    SELECT
  *,
  YEAR(contract_date)-TOP AS lasting_year
FROM (
  SELECT
    UPPER(property_name) AS upper_name,
    TOP,
    district,
    units,
    property_type,
    LOWER(tenure) AS lower_tenure,
    FROM
    [drq-machine-learning:enbloc.property_list] )AS property_list
LEFT JOIN (
  SELECT
    contract_date,
    project_name,
    1 AS is_enbloc
  FROM
    [drq-machine-learning:enbloc.enbloc]) AS enbloc_list
ON
  property_list.upper_name = enbloc_list.project_name
  
WHERE 
property_list.property_type!='Office'
    '''
)
df = pd.read_gbq(
    query,
    project_id='drq-machine-learning',
    private_key='/Users/zhouwanjie/Documents/Projects/enbloc/drq-machine-learning-0a5d30a93870.json',
    dialect='legacy'
)

Requesting query... ok.
Job ID: bf14161c-1c64-40ea-b738-edaf4146630a
Query running...
Query done.
Cache hit.

Retrieving results...
Got 2137 rows.

Total time taken 3.68 s.
Finished at 2018-04-15 10:20:34.

In [3]:
df.head()

,property_list_upper_name,property_list_TOP,property_list_district,property_list_units,property_list_property_type,property_list_lower_tenure,enbloc_list_contract_date,enbloc_list_project_name,enbloc_list_is_enbloc,lasting_year
0,STARLIGHT ROAD,None,D8 - Little India,None,Apartment,9999 years from 01/01/1957,None,None,None,None
1,CAMBRIDGE ROAD,None,D8 - Little India,None,Apartment,999999 years,None,None,None,None
2,JALAN SENANG,None,"D14 - Geylang, Eunos",None,Apartment,999 years from 01/01/1967,None,None,None,None
3,GEK LIM MANSIONS,None,"D14 - Geylang, Eunos",None,Apartment,n.a,None,None,None,None
4,LORONG 24 GEYLANG,None,"D14 - Geylang, Eunos",None,Apartment,9999 years from 01/01/1962,None,None,None,None

In [4]:
df['property_list_lower_tenure'].unique()

array([u'9999 years from 01/01/1957', u'999999 years',
       u'999 years from 01/01/1967', u'n.a',
       u'9999 years from 01/01/1962', u'110 years from 01/11/2017',
       u'999 years', u'99 years from 01/03/1977',
       u'99 years from 25/03/1968', u'99 years from 04/08/1969',
       u'99 years from 02/06/1970', u'99 years from 18/01/1972',
       u'99 years from 03/09/1968', u'99 years from 01/01/1969',
       u'99 years from 30/08/1976', u'99 years from 01/11/1975',
       u'999 years from 07/06/1884', u'99 years from 18/09/1979',
       u'99 years from 16/06/1980', u'99 years from 15/12/1980',
       u'999 years from 25/01/1827', None, u'9999 years from 02/06/1995',
       u'999 years from 29/05/1885', u'99 years from 08/09/1992',
       u'99 years from 01/01/1995', u'999 years from 02/06/1882',
       u'99 years from 17/11/1993', u'99 years from 02/10/1992',
       u'leasehold/99 years', u'929 years from 01/01/1953',
       u'99 years from 13/02/1995', u'99 years from 06/11/1995',
       u'99 years from 06/09/1996', u'99 years from 10/06/1996',
       u'99 years from 01/12/1994', u'99 years from 01/05/1994',
       u'999 years from 12/10/1885', u'99 years from 01/03/1995',
       u'99 years from 03/02/1994', u'947 years from 15/05/1937',
       u'99 years from 24/06/1995', u'99 years from 24/04/1996',
       u'99 years from 01/10/1995', u'999 years from 01/09/1876',
       u'99 years from 26/06/1996', u'99 years from 22/05/1997',
       u'999 years from 01/07/1841', u'99 years from 19/03/1997',
       u'999 years from 02/12/1878', u'99 years from 11/08/1997',
       u'99 years from 06/12/1997', u'99 years from 30/04/2000',
       u'99 years from 06/02/2001', u'99 years from 06/10/2000',
       u'999 years from 01/01/1886', u'999 years from 21/06/1877',
       u'999 years from 26/03/1885', u'99 years from 02/06/1969',
       u'99 years from 12/08/2002', u'999 years from 02/10/1876',
       u'99 years from 07/01/2002', u'946 years from 23/06/1938',
       u'99 years from 08/05/2001', u'99 years from 29/01/2002',
       u'946 years from 27/11/1937', u'99 years from 05/03/2004',
       u'99 years from 03/01/2006', u'999 years from 24/11/1995',
       u'99 years from 21/06/2006', u'999 years from 01/06/1885',
       u'99 years from 15/09/2005', u'99 years from 11/07/2006',
       u'99 years from 08/03/2006', u'946 years from 01/01/1938',
       u'99 years from 21/03/2006', u'99 years from 27/01/2006',
       u'99 years from 13/03/2006', u'99 years from 15/10/2007',
       u'99 years from 02/02/2005', u'99 years from 28/04/2004',
       u'99 years from 14/10/2005', u'99 years from 10/08/2010',
       u'99 years from 06/05/2008', u'999 years from 19/02/1883',
       u'99 years from 07/12/2009', u'99 years from 06/01/2010',
       u'99 years from 12/04/2007', u'99 years from 06/02/2008',
       u'99 years from 13/09/2010', u'99 years from 13/03/2008',
       u'999 years from 27/12/1875', u'99 years from 24/05/2010',
       u'99 years from 27/06/2007', u'99 years from 30/04/2013',
       u'99 years from 21/11/2011', u'99 years from 29/06/2011',
       u'99 years from 07/06/2011', u'99 years from 07/11/2012',
       u'956 years from 27/05/1928', u'99 years from 24/01/2013',
       u'99 years from 01/08/2011', u'60 years from 19/02/2013',
       u'freehold', u'99 years from 01/12/1975',
       u'99 years from 25/03/1981', u'999 years from 06/07/1885',
       u'99 years from 01/10/1983', u'999 years from 25/09/1882',
       u'999 years from 23/03/1885', u'99 years from 17/08/1979',
       u'101 years from 01/12/1985', u'99 years from 21/10/1981',
       u'99 years from 01/11/1984', u'99 years from 01/08/1980',
       u'99 years from 20/08/1982', u'99 years from 08/03/1982',
       u'99 years from 08/01/1979', u'99 years from 10/04/1982',
       u'99 years from 06/06/1980', u'99 years from 08/07/1983',
       u'99 years from 10/11/1981', u'99 years from 07/04/1975',
       u'99 years from 05/04/1982', u'999 years from 01/04/1878',
       u'999 years from 05/05/1886', u'100 years from 01/02/1986',
       u'999 years from 07/09/1885', u'99 years from 01/09/1991',
       u'99 years from 01/03/1991', u'999 years from 10/08/1878',
       u'99 years from 15/09/1990', u'99 years from 01/12/1991',
       u'99 years from 23/07/1991', u'99 years from 01/06/1990',
       u'99 years from 01/05/1993', u'99 years from 01/07/1992',
       u'99 years from 18/11/1991', u'99 years from 01/09/1992',
       u'99 years from 31/05/1993', u'99 years from 20/10/1993',
       u'99 years from 01/12/1993', u'99 years from 21/04/1994',
       u'99 years from 09/03/1994', u'99 years from 30/05/1994',
       u'99 years from 01/08/1994', u'99 years',
       u'99 years from 20/06/1995', u'99 years from 23/06/1995',
       u'999 years from 19/05/1883', u'999 years from 15/08/1884',
       u'99 years from 01/11/1995', u'99 years from 17/05/1997',
       u'99 years from 31/01/1997', u'99 years from 14/11/1996',
       u'99 years from 07/11/1995', u'99 years from 12/06/1996',
       u'999 years from 01/10/1827', u'99 years from 03/03/1997',
       u'99 years from 17/03/1997', u'99 years from 22/09/1997',
       u'99 years from 16/12/1997', u'99 years from 04/12/1996',
       u'99 years from 12/08/1997', u'99 years from 09/10/1996',
       u'99 years from 12/08/1996', u'99 years from 18/12/1997',
       u'99 years from 01/12/1997', u'99 years from 07/06/1996',
       u'99 years from 11/03/1999', u'99 years from 18/07/1997',
       u'99 years from 25/02/1998', u'99 years from 16/02/1998',
       u'99 years from 02/02/1998', u'99 years from 14/12/1996',
       u'99 years from 21/03/1996', u'99 years from 02/03/1998',
       u'99 years from 20/03/1998', u'99 years from 24/04/1999',
       u'99 years from 12/09/2000', u'99 years from 13/12/2000',
       u'99 years from 05/05/1997', u'99 years from 10/02/2000',
       u'99 years from 09/10/2000', u'99 years from 14/08/2000',
       u'99 years from 08/04/1993', u'99 years from 02/05/2001',
       u'99 years from 22/03/1997', u'99 years from 29/11/2000',
       u'99 years from 20/06/2000', u'99 years from 16/08/1999',
       u'99 years from 17/08/2001', u'99 years from 02/01/2001',
       u'99 years from 02/10/2001', u'99 years from 21/06/2001',
       u'99 years from 04/06/2001', u'99 years from 25/07/2001',
       u'99 years from 24/10/1997', u'99 years from 05/06/2001',
       u'99 years from 29/10/2001', u'99 years from 02/04/1998',
       u'99 years from 16/07/2002', u'99 years from 23/07/2002',
       u'99 years from 21/01/2002', u'999 years from 21/02/1885',
       u'99 years from 03/12/2002', u'999 years from 17/09/1885',
       u'99 years from 20/06/2003', u'99 years from 19/03/2001',
       u'99 years from 18/03/2004', u'99 years from 20/01/2004',
       u'99 years from 22/01/2003', u'99 years from 09/09/1999',
       u'99 years from 22/11/2002', u'99 years from 05/01/2004',
       u'99 years from 02/07/2004', u'99 years from 08/11/2001',
       u'103 years from 28/11/2002', u'99 years from 13/09/2004',
       u'99 years from 03/05/2004', u'99 years from 03/01/2005',
       u'99 years from 26/02/2004', u'99 years from 01/03/2003',
       u'99 years from 17/02/2006', u'99 years from 18/04/2005',
       u'99 years from 11/09/2007', u'99 years from 07/02/2006',
       u'99 years from 12/03/2007', u'99 years from 10/08/2005',
       u'99 years from 25/02/2008', u'99 years from 10/09/2007',
       u'99 years from 07/01/2008', u'99 years from 17/03/2008',
       u'99 years from 31/10/2007', u'99 years from 15/03/2006',
       u'99 years from 31/10/2006', u'99 years from 09/06/2007',
       u'99 years from 03/01/2007', u'99 years from 31/12/2007',
       u'99 years from 23/10/2006', u'99 years from 15/07/2008',
       u'99 years from 08/04/2008', u'99 years from 07/04/2008',
       u'99 years from 22/09/2008', u'99 years from 09/12/2008',
       u'99 years from 25/08/2008', u'99 years from 10/03/2008',
       u'99-year leasehold', u'99 years from 25/06/2008',
       u'99 years from 08/09/2010', u'99 years from 26/03/2008',
       u'99 years from 08/03/2007', u'99 years from 11/02/2009',
       u'99 years from 02/06/2010', u'99 years from 14/09/2010',
       u'99 years from 27/07/2007', u'99 years from 23/11/2009',
       u'999 years from 19/06/1885', u'99 years from 03/08/2010',
       u'99 years from 21/12/2009', u'99 years from 07/09/2011',
       u'99 years from 20/09/2010', u'99 years from 30/11/2010',
       u'99 years from 14/06/2010', u'99 years from 11/12/2007',
       u'99 years from 03/01/2011', u'99 years from 24/01/2011',
       u'99 years from 16/06/2010', u'99 years from 10/01/2012',
       u'99 years from 11/08/2010', u'99 years from 26/11/2009',
       u'99 years from 20/12/2010', u'99 years from 27/12/2010',
       u'99 years from 04/11/2011', u'99 years from 23/08/2010',
       u'99 years from 24/08/2010', u'99 years from 02/03/2011',
       u'99 years from 10/01/2011', u'103 years from 18/08/2009',
       u'99 years from 20/07/2007', u'99 years from 08/04/2010',
       u'99 years leasehold', u'99 years from 10/05/2010',
       u'99 years from 06/12/2010', u'99 years from 25/01/2012',
       u'99 years from 28/07/2010', u'99 years from 07/02/2011',
       u'99 years from 29/08/2011', u'99 years from 30/01/2012',
       u'99 years from 08/02/2010', u'99 years from 20/10/2010',
       u'99 years from 10/08/2011', u'99 years from 09/01/2012',
       u'99 years from 01/06/2011', u'99 years from 06/02/2012',
       u'99 years from 04/06/2012', u'99 years from 05/10/2011',
       u'99 years from 26/08/2011', u'99 years from 15/06/2011',
       u'99 years from 09/02/2011', u'99 years from 24/04/2012',
       u'99 years from 09/03/2011', u'99 years from 28/06/2011',
       u'99 years from 28/08/2012', u'99 years from 13/02/2013',
       u'99 years from 03/07/2012', u'99 years from 25/05/2012',
       u'99 years from 21/08/2012', u'99 years from 13/08/2012',
       u'99 years from 06/03/2012', u'99 years from 05/11/2012',
       u'99 years from 19/03/2012', u'99 years from 02/07/2012',
       u'99 years from 05/12/2011', u'99 years from 03/10/2011',
       u'103 years from 01/10/2010', u'99 years from 14/05/2012', u'f',
       u'l99', u'l999', u'mixed'], dtype=object)

In [5]:
df = df[df['property_list_lower_tenure'].notnull()]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2135 entries, 0 to 2136
Data columns (total 10 columns):
property_list_upper_name       2135 non-null object
property_list_TOP              2040 non-null object
property_list_district         2135 non-null object
property_list_units            1927 non-null object
property_list_property_type    2135 non-null object
property_list_lower_tenure     2135 non-null object
enbloc_list_contract_date      318 non-null object
enbloc_list_project_name       318 non-null object
enbloc_list_is_enbloc          318 non-null object
lasting_year                   281 non-null object
dtypes: object(10)
memory usage: 183.5+ KB

In [7]:
df=df[df['property_list_lower_tenure']!='n.a']

In [8]:
df.head()

,property_list_upper_name,property_list_TOP,property_list_district,property_list_units,property_list_property_type,property_list_lower_tenure,enbloc_list_contract_date,enbloc_list_project_name,enbloc_list_is_enbloc,lasting_year
0,STARLIGHT ROAD,None,D8 - Little India,None,Apartment,9999 years from 01/01/1957,None,None,None,None
1,CAMBRIDGE ROAD,None,D8 - Little India,None,Apartment,999999 years,None,None,None,None
2,JALAN SENANG,None,"D14 - Geylang, Eunos",None,Apartment,999 years from 01/01/1967,None,None,None,None
4,LORONG 24 GEYLANG,None,"D14 - Geylang, Eunos",None,Apartment,9999 years from 01/01/1962,None,None,None,None
8,PARKSUITES,1900,"D10 - Bukit Timah, Holland Rd, Tanglin",None,Apartment,110 years from 01/11/2017,None,None,None,None

In [11]:
df['use_year']=df['property_list_lower_tenure'].str.extract('(\d+)(.*)year',expand=False)
df.info()

ValueError: Wrong number of items passed 2, placement implies 1

In [16]:
df['use_year'] = df['property_list_lower_tenure'].apply(lambda x: x.split(' ')[0])
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2126 entries, 0 to 2136
Data columns (total 11 columns):
property_list_upper_name       2126 non-null object
property_list_TOP              2036 non-null object
property_list_district         2126 non-null object
property_list_units            1927 non-null object
property_list_property_type    2126 non-null object
property_list_lower_tenure     2126 non-null object
enbloc_list_contract_date      318 non-null object
enbloc_list_project_name       318 non-null object
enbloc_list_is_enbloc          318 non-null object
lasting_year                   281 non-null object
use_year                       2126 non-null object
dtypes: object(11)
memory usage: 279.3+ KB

In [17]:
df['use_year']=df['use_year'][df['use_year'].notnull()].astype(str)
df['use_year']=df['use_year'].fillna('999')
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2126 entries, 0 to 2136
Data columns (total 11 columns):
property_list_upper_name       2126 non-null object
property_list_TOP              2036 non-null object
property_list_district         2126 non-null object
property_list_units            1927 non-null object
property_list_property_type    2126 non-null object
property_list_lower_tenure     2126 non-null object
enbloc_list_contract_date      318 non-null object
enbloc_list_project_name       318 non-null object
enbloc_list_is_enbloc          318 non-null object
lasting_year                   281 non-null object
use_year                       2126 non-null object
dtypes: object(11)
memory usage: 279.3+ KB

In [18]:
df['use_year'].unique()

array(['9999', '999999', '999', '110', '99', 'leasehold/99', '929', '947',
       '946', '956', '60', 'freehold', '101', '100', '103', '99-year',
       'f', 'l99', 'l999', 'mixed'], dtype=object)

In [285]:
df['property_list_units'][df['use_year']<150]=df['property_list_units'][df['use_year']<150].fillna(df['property_list_units'][df['use_year']<150].mean())
df['property_list_units'][df['use_year']>150]=df['property_list_units'][df['use_year']>150].fillna(df['property_list_units'][df['use_year']>150].mean())

/Users/zhouwanjie/virtualenvironment/enbloc/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/zhouwanjie/virtualenvironment/enbloc/lib/python2.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [286]:
df.head(20)

,property_list_upper_name,property_list_TOP,property_list_district,property_list_units,property_list_property_type,property_list_lower_tenure,enbloc_list_contract_date,enbloc_list_project_name,enbloc_list_is_enbloc,lasting_year,use_year
0,STARLIGHT ROAD,None,D8 - Little India,87.6523,Apartment,9999 years from 01/01/1957,None,None,None,None,9999.0
1,CAMBRIDGE ROAD,None,D8 - Little India,87.6523,Apartment,999999 years,None,None,None,None,999999.0
2,JALAN SENANG,None,"D14 - Geylang, Eunos",87.6523,Apartment,999 years from 01/01/1967,None,None,None,None,999.0
4,LORONG 24 GEYLANG,None,"D14 - Geylang, Eunos",87.6523,Apartment,9999 years from 01/01/1962,None,None,None,None,9999.0
8,PARKSUITES,1900,"D10 - Bukit Timah, Holland Rd, Tanglin",422.441,Apartment,110 years from 01/11/2017,None,None,None,None,110.0
9,TEACHERS' HOUSING ESTATE,1968,"D26 - Upper Thomson, Springleaf",87.6523,Apartment,999 years,None,None,None,None,999.0
10,LAKESIDE APARTMENTS,1970,D22 - Jurong,422.441,Apartment,99 years from 01/03/1977,None,None,None,None,99.0
11,PEOPLE'S PARK COMPLEX,1972,"D1 - Temasek Blvd, Raffles Link",422.441,Apartment,99 years from 25/03/1968,None,None,None,None,99.0
12,GOLDEN MILE COMPLEX,1974,"D7 - Middle Road, Golden Mile",422.441,Apartment,99 years from 04/08/1969,None,None,None,None,99.0
13,INTERNATIONAL PLAZA,1976,"D2 - Anson, Tanjong Pagar",422.441,Apartment,99 years from 02/06/1970,None,None,None,None,99.0
14,FOOK HAI BUILDING,1976,"D1 - Temasek Blvd, Raffles Link",422.441,Apartment,99 years from 18/01/1972,None,None,None,None,99.0
15,PEOPLE'S PARK CENTRE,1976,"D1 - Temasek Blvd, Raffles Link",422.441,Apartment,99 years from 02/06/1970,None,None,None,None,99.0
16,TEXTILE CENTRE,1977,"D7 - Middle Road, Golden Mile",422.441,Apartment,99 years from 02/06/1970,None,None,None,None,99.0
17,PEACE CENTRE/MANSIONS,1977,"D9 - Orchard, Cairnhill, River Valley",42,Apartment,99 years from 02/06/1970,None,None,None,None,99.0
18,THE PLAZA,1979,"D7 - Middle Road, Golden Mile",422.441,Apartment,99 years from 03/09/1968,None,None,None,None,99.0
19,PHOENIX HEIGHTS,1980,"D23 - Bukit Panjang, Choa Chu Kang",422.441,Apartment,99 years from 01/01/1969,None,None,None,None,99.0
20,SHERWOOD TOWERS,1980,"D21 - Upper Bukit Timah, Ulu Pandan",269,Apartment,99 years from 30/08/1976,None,None,None,None,99.0
21,LAKESIDE TOWER,1981,D22 - Jurong,422.441,Apartment,99 years from 01/11/1975,None,None,None,None,99.0
22,BEAUTY WORLD PLAZA,1982,"D21 - Upper Bukit Timah, Ulu Pandan",87.6523,Apartment,999 years from 07/06/1884,None,None,None,None,999.0
23,BEAUTY WORLD CENTRE,1984,"D21 - Upper Bukit Timah, Ulu Pandan",80,Apartment,99 years from 18/09/1979,None,None,None,None,99.0

In [287]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2126 entries, 0 to 2136
Data columns (total 11 columns):
property_list_upper_name       2126 non-null object
property_list_TOP              2036 non-null object
property_list_district         2126 non-null object
property_list_units            2126 non-null object
property_list_property_type    2126 non-null object
property_list_lower_tenure     2126 non-null object
enbloc_list_contract_date      318 non-null object
enbloc_list_project_name       318 non-null object
enbloc_list_is_enbloc          318 non-null object
lasting_year                   281 non-null object
use_year                       2126 non-null float64
dtypes: float64(1), object(10)
memory usage: 279.3+ KB

In [288]:
df['property_list_TOP']=df['property_list_TOP'].fillna(df['property_list_TOP'].median())

In [289]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2126 entries, 0 to 2136
Data columns (total 11 columns):
property_list_upper_name       2126 non-null object
property_list_TOP              2126 non-null float64
property_list_district         2126 non-null object
property_list_units            2126 non-null object
property_list_property_type    2126 non-null object
property_list_lower_tenure     2126 non-null object
enbloc_list_contract_date      318 non-null object
enbloc_list_project_name       318 non-null object
enbloc_list_is_enbloc          318 non-null object
lasting_year                   281 non-null object
use_year                       2126 non-null float64
dtypes: float64(2), object(9)
memory usage: 279.3+ KB

In [ ]:
df['enbloc_licontact_date']=df['property_list_TOP'].fillna(df['property_list_TOP'].median())